@import "../../themes/gic.globals.md";

// Material Design Item
// --------------------------------------------------

/// @prop - Padding top for the item content
$item-md-padding-top:                       10px !default;

/// @prop - Padding bottom for the item content
$item-md-padding-bottom:                    11px !default;

/// @prop - Padding start for the item content
$item-md-padding-start:                     16px !default;


// Material Design Select
// --------------------------------------------------

/// @prop - Padding top of the select
$select-md-padding-top:         $item-md-padding-top !default;

/// @prop - Padding end of the select
$select-md-padding-end:         0 !default;

/// @prop - Padding bottom of the select
$select-md-padding-bottom:      $item-md-padding-bottom !default;

/// @prop - Padding start of the select
$select-md-padding-start:       $item-md-padding-start !default;

/// @prop - Color of the select icon
$select-md-icon-color:          $text-color-step-600 !default;

/// @prop - Color of the select placeholder
$select-md-placeholder-color:   $select-md-icon-color !default;

/// @prop - Text Color of the selected item
$select-md-text-color:          $text-color !default;
